// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-restaurant{
    i{
       font-size: 18px;
    }
    a{
        margin-top: 20px;
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
}